:root{
    --ap-bg-color:#f1f5f9;


    --card-bg-color:#ffffff;
  --hover-card-bg-color:#f1f5f9;

    --border-color: #E2E8F0FF;

  --text-dark:#0f1018;
  --text-grey:#7d828f;
}

$app-toolbar-bg-color: var(--card-bg-color);
$app-bg-color: var(--ap-bg-color);

$sidebar-bg-color: linear-gradient(45deg, #1e293b 23%, #1e293b 100%);
$sidebar-max-width:240px;
$sidebar-min-width:60px;
$sidebar-text-color:#ffffff;
$sidebar-text-hover-color: rgba(248, 251, 255, 0.08);
$sidebar-icon-size:20px;
$sidebar-arrow-icon-size:18px;
$sidebar-text-size:12px;
$sidebar-animation:all 0.225s ease-in-out;


$mobile_device_screen_size:920px;


$overall-bg-color:#0009;

//app bar

$app-text-color:rgb(249, 250, 251);
$btn-border-color:rgb(243, 244, 246);


//color list

$primary-color:#805dca;
$primary-bg-color:linear-gradient(72.47deg, rgb(115, 103, 240) 22.16%, rgba(115, 103, 240, 0.7) 76.47%);

$white-color: #ffffff;
$info-color:#2196f3;
$danger-color:#ff0000;
$success-color:#25d366;
$warning-color:#ff9900;

//text
$text-dark-color: var(--text-dark);
$text-gray-color: var(--text-grey);



//border
$border-color: var(--border-color);

//card
$card-bg-color:var(--card-bg-color);
$card-hover-bg-color: var(--hover-card-bg-color);


$min-height-page-content:1100px;
