.layout-wrapper-container{
  width: 100%;
  min-height: 100vh !important;
  position: relative;
  .app-toolbar{
    width: 100%;
    position: relative;
    height: 60px;
    background: radial-gradient(circle at 10% 20%, rgb(99, 55, 255) 0%, rgb(39, 170, 255) 90%);
    border-bottom: 1px solid #e2e9e7;
    box-shadow: 0 1px 2px #00152914;
  }

}