.layout-wrapper-container{
  width: 100%;
  min-height: 100vh !important;
  overflow-y: auto;
  position: relative;
  background-color: $app-bg-color;
  .app-toolbar{
    width: calc(100% - 40px);
    position: relative;
    height: 50px;
    background: $app-toolbar-bg-color;
    border: 1px solid $border-color;
    box-shadow:rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
    border-radius: 30px;
    margin:  0 20px;
  }
  .sidebar-container{
    background:$sidebar-bg-color;
    min-height: 100vh;
    max-height: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    border-right: 1px solid $sidebar-container_border-color;
    //box-shadow: rgba(165, 163, 174, 0.3) 0px 2px 4px 0px;
    //overflow-y: auto;
    //overflow-x: hidden;
    transition: all 0.3s ease-in-out;
    &::-webkit-scrollbar {
      width: 0;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      border-radius: 0;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      border-radius: 0;
    }

    /* Handle on hover */
    //&::-webkit-scrollbar-thumb:hover {
    //
    //}


    .sidebar-control-btn{
      width: 36px;
      height: 36px;
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
      background: $app-bg-color;
      position: absolute;
      top: 50%;
      right: -20px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &>i{
        font-size: 20px;
        font-weight: 600;
        transform: rotate(180deg);
        transition: all 0.3s ease-out;
        background-color: #0d1059;
        color: white;
        border-radius: 50%;
        padding: 2px;
        box-sizing: content-box;
        z-index: 2;
      }


    }
  }

  .app-main{
    background: $app-bg-color;
    min-height: $min-height-page-content;
    //max-height: 100vh;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
    padding-top: 6px;

  }
  .sidebar-overall-bg{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 100%;
    background-color: $overall-bg-color;
    transition: all 0.3s ease-in-out;
    border: 1px solid $border-color;
  }

  .smooth-sidebar-btn{
    background-color: transparent;
    backdrop-filter: blur(8px);
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: absolute;
    top: 33px;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    border: 1px solid $sidebar-container_border-color;
    //box-shadow: $panel_shadow;

     &> i{
       font-size: 24px;
       background:$sidebar-bg-color;
       border-radius: 50%;
       color: $sidebar_btn;
       cursor: pointer;
       transform: rotate(0deg);
       transition: all 0.3s ease-in-out;
       border: 1px solid $sidebar-container_border-color;
     }

    //&::before{
    //  content: " ";
    //  position: absolute;
    //  width: 10px;
    //  height: 10px;
    //  z-index: 30;
    //  top: -7px;
    //  left: 5px;
    //  background-color: transparent;
    //  border-bottom-right-radius: 13px;
    //  box-shadow: 2px 1px 0 0 white;
    //}
    //&::after{
    //  content: " ";
    //  position: absolute;
    //  width: 10px;
    //  height: 10px;
    //  z-index: 30;
    //  top: 27px;
    //  left: 5px;
    //  background-color: transparent;
    //  border-top-right-radius: 13px;
    //  box-shadow: 2px -1px 0 0 white;
    //}
  }




}


//desktop version
@media screen and (min-width:calc($mobile_device_screen_size - 0px)) {
  .sidebar_enable {
    .sidebar-container{
      width: $sidebar-max-width;
      max-height: 100vh;
      overflow-y: auto;
      border-bottom-right-radius: 13px;
      .sidebar-control-btn{
        &>i{
          transform: rotate(0deg);
        }
      }

    }
    .app-main{
      margin-left: $sidebar-max-width;
      width: calc(100% - $sidebar-max-width);

    }
    .smooth-sidebar-btn{
      left: 225px;
    }


  }
  .sidebar_unable {
    .sidebar-container{
      width: $sidebar-min-width;
      position: absolute !important;
      min-height: 100vh;
      height: 100%;
      border-bottom-right-radius: 13px;
      .sidebar-control-btn{
        &>i{
          transform: rotate(0deg);
        }
      }

    }
    .app-main{
      margin-left: $sidebar-min-width;
      width: calc(100% - $sidebar-min-width);

    }
    .smooth-sidebar-btn{
      left: 45px;
      &> i{
        transform: rotate(180deg);
      }
    }

  }



}

// mobile version
@media screen and (max-width:calc($mobile_device_screen_size - 0.5px)) {
  .sidebar_enable {
    .sidebar-container{
      width: $sidebar-max-width;
      left: 0px;
      max-height: 100vh;
      overflow-y: auto;
      .sidebar-control-btn{
        &>i{
          transform: rotate(0deg);
        }
      }

    }
    .app-main{
      margin-left: 0px;
      width: calc(100% - 0px);

    }
    .sidebar-overall-bg{
      width: 100%;
      border-radius: 0;
    }
    .smooth-sidebar-btn{
      left: 225px;
      &::after, &::before{
        visibility: hidden;

      }

    }
  }
  .sidebar_unable {
    .sidebar-container{
      width: $sidebar-max-width;
      left: -$sidebar-max-width;
      min-height: 100vh;
      height: 100%;
      z-index: 20;
      .sidebar-control-btn{
        &>i{
          transform: rotate(0deg);
        }
      }

    }
    .app-main{
      margin-left: 0px;
      width: calc(100% - 0px);

    }
    .smooth-sidebar-btn{
      left: -10px;
      &> i{
        transform: rotate(180deg);
      }
    }
  }
  .app-toolbar{
    width: calc(100% - 20px);
    margin:  0 10px;
  }
  .app-toolbar{
    width: calc(100% - 0px) !important;
    border-radius: 0 !important;
    margin:  0 0 !important;
  }
  .app-main{
    padding-top: 0 !important;
  }



}