//tab
.n-tabs-rail {
  background-color: $app-bg-color !important;

  .n-tabs-tab {
    color: $text-dark-color !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    background-color: $card-bg-color !important;
    margin: 0px 2px;
  }

  .n-tabs-tab--active {
    color: $white-color !important;
    background-image: $primary-bg-color !important;
    font-size: 12px !important;
    font-weight: 500 !important;
  }
}


.n-popover-shared {
  border-radius: 8px !important;
  background-color: $card-bg-color !important;

  .n-dropdown-option-body {
    &:hover {
      background-color: $card-hover-bg-color !important;
    }
    &::before {
      background-color: transparent !important;
    }
  }
  .n-dropdown-option-body__label {
    color: $text-dark-color !important;
  }

  .n-dropdown-option-body__prefix--show-icon {
    color: $text-dark-color !important;
  }

  .n-dropdown-divider {
    color: $border-color !important;
    background-color: $border-color !important;
  }
}

.n-table{
  background-color: $card-bg-color !important;
  border-radius: 12px !important;
  border: 1px solid $border-color !important;
  overflow: hidden !important;
  th{
    background-color: $app-bg-color !important;
    border-bottom: 1px solid $border-color !important;
    border-right: 1px solid $border-color !important;
    color: $text-dark-color !important;
    font-size: 12px !important;
    font-weight: 500 !important;
  }

  td {
    background-color: transparent !important;
    border-bottom: 1px solid $border-color !important;
    border-right: 1px solid $border-color !important;
    color: $text-gray-color !important;
    font-size: 14px !important;
  }
  th:last-child{
    border-right: none !important;
  }
  td:last-child{
    border-right: none !important;
  }
  tr{
    background-color: transparent !important;
    &:hover{
      background-color: $card-hover-bg-color !important;
      cursor: pointer;
    }
  }

  tr:last-child{
    td{
      border-bottom: none !important;
    }

  }


}

.n-switch.n-switch--active .n-switch__rail{
  background-color: $primary-color !important;
}


.n-pagination{
  .n-pagination-item--disabled.n-pagination-item--button{
    background-color: $app-bg-color !important;
  }

  background-color: $app-bg-color !important;
  border-color: $border-color !important;
  .n-pagination-item--clickable, .n-pagination-item{
    color: $text-dark-color !important;
    .n-base-icon{
      color: $text-dark-color !important;
    }
  }
  .n-pagination-item--active{
    border-color: $primary-color !important;
    color: $white-color !important;
    background-color: $primary-color !important;
  }
  .n-virtual-list{

    .n-base-select-option__content{
      color: $text-dark-color !important;
    }
  }


  .n-select{
    .n-base-selection {
      --n-border-active:1px solid transparent !important;
      --n-border-focus:1px solid transparent !important;
      --n-border-hover:1px solid transparent !important;
    }

    .n-base-selection-label {
      background-color: $card-bg-color !important;
      .n-base-selection-input__content{
        color: $primary-color !important;
      }

    }
  }
}


.n-base-select-menu{
  .n-base-select-menu-option-wrapper{
    background-color: $card-bg-color !important;
    .n-base-select-option{
      color: $text-dark-color !important;
      &:hover {
        background-color: $card-hover-bg-color !important;
      }
      &::before {
        background-color: transparent !important;
      }
    }
    .n-base-select-option--selected{
      color: $primary-color !important;
    }
  }
}


//buttons
.n-button{
  border-radius: 6px !important;
}
.n-button--primary-type{
   background-color: $primary-color !important;
   box-shadow: 0 10px 20px -10px $primary-color ;
   .n-button__border{
     border: 1px solid $primary-color !important;
   }
   .n-button__state-border{
     border: 1px solid $primary-color !important;
   }
 }
.n-button--info-type{
   background-color: $info-color !important;
   box-shadow: 0 10px 20px -10px $info-color ;
   .n-button__border{
     border: 1px solid $info-color !important;
   }
   .n-button__state-border{
     border: 1px solid $info-color !important;
   }
 }
.n-button--success-type{
  background-color: $success-color !important;
  box-shadow: 0 10px 20px -10px $success-color ;
  .n-button__border{
    border: 1px solid $success-color !important;
  }
  .n-button__state-border{
    border: 1px solid $success-color !important;
  }
}
.n-button--warning-type{
  background-color: $warning-color !important;
  box-shadow: 0 10px 20px -10px $warning-color  ;
  .n-button__border{
    border: 1px solid $warning-color  !important;
  }
  .n-button__state-border{
    border: 1px solid $warning-color  !important;
  }
}
.n-button--error-type{
  background-color: $danger-color !important;
  box-shadow: 0 10px 20px -10px $danger-color   ;
  .n-button__border{
    border: 1px solid $danger-color   !important;
  }
  .n-button__state-border{
    border: 1px solid $danger-color  !important;
  }
}
.n-input{
  background-color: $card-bg-color !important;
  .n-input__state-border{
    border:1px solid $border-color !important;
    //background-color: $card-bg-color !important;
  }
  .n-input__input-el{
    color: $text-dark-color !important;
    &::placeholder{
      color: $text-gray-color !important;
    }

  }
  .n-input__placeholder{
    color: $text-gray-color !important;
  }
  .n-input__suffix{
    color: $text-gray-color !important;
  }
  .n-input__border{
    border:1px solid $border-color !important;
  }
  .n-input__prefix{
    i{
      color: $text-gray-color !important;
    }
  }
}
.n-input--focus{
  outline: 1px solid $primary-color !important;
  .n-input__state-border{
    border:1px solid $primary-color !important;
    //background-color: $card-bg-color !important;
  }
}


