

.custom_table_one{
  display: table;
  width: 100%;

  &>.table_header_one{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 6px;
    &>.table_tr{
      width: 100%;
      display: flex;
      //justify-content: stretch;
      padding: 6px 12px;
      border: 1px solid $border-color;
      border-radius: 8px;
      //box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
  }

  &>.table_body_one{
    width: 100%;
    display: flex;
    flex-direction: column;
    &> .table_tr{
      width: 100%;
      display: flex;
      justify-content: stretch;
      background-color: $card-bg-color;
      margin: 2px 0;
      padding: 6px 12px;
      border: 1px solid $border-color;
      border-radius: 8px;
      cursor: pointer;
      transition:all 0.1s ease-in;
      box-shadow: none;
      position: relative;
      z-index: 1;
      &> .table_td{
        display: flex;
        align-items: center;
      }


      &:hover{
        background-color: $card-hover-bg-color;
        border-color: $primary-color;
        //margin: 4px 0;
        //padding: 12px 12px;
        z-index: 2;
        //box-shadow: rgb(0 0 0 / 8%) 2px 12px 20px, rgb(0 0 0 / 0%) -1px 9px 6px;
      }

    }
  }
}